<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <title>Index Page</title>
    <style>
        @import url("/static/style.css");
    </style>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <button class="button" onclick="location.href='register.html'">Register</button>
    <button class="button" onclick="location.href='login.html'">Login</button>
    <script src="static/main.js"></script>
</body>
</html>
